*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header{
    display:flex;
    position:sticky;
    top:0;
    justify-content: space-between;
    margin: 8px 0 8px 0px;
    padding:15px;
   background-color: rgba(0, 0, 0, 0.95);
   gap:10px;
}

.menu{
    max-height:40px;
    max-width: 15rem;
    width:100%;
    display:flex;
    gap:1rem;
}

.menu .menuSanduiche{
    max-height:40px;
    max-width: 40px;
    width:100%;
    height:100%;
    border:none;
}



.logoYoutube{
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
    color:rgb(238, 9, 150);
}
.linkLogoYoutube{
    text-decoration: none;
}

.secaoPesquisa{
    display:flex;
    max-width:600px;
    flex:1 0.5 300px;
    gap:10px;
}

form{
    display: flex;
    max-width: 515px;
    width:100%;
}

.campoPesquisa{
    max-height:50px;
    flex:1;
    border-radius: 25px 0 0 25px;
    padding:15px 10px;
    border:1px solid black;
    font-size:1rem;
}

.botaoPesquisa{
    border:1px solid black;
    width:60px;
    height:50px;
    border-radius: 0 25px 25px 0;
}

.pesquisaVoz{
    min-width: 50px;
    min-height: 50px;
    height:50px;
    width:50px;
    border-radius: 25px;
    border:1px solid black;
}

.conjunto-perfil{
    display: flex;
    height:50px;
    gap:30px;
}

.conjunto-perfil img{
    width:100%;
    height:100%;
    border-radius:50%;
    
}

.conjunto-perfil button{
    border:none;
}

.iconeNotificao{
    background-color: rgba(0, 0, 0, 0);
}

.iconeNotificao span{
    font-size:30px;
    color:white;
}
.criarPost{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 156, 156);
    padding: 10px;
    border-radius: 30px;
}

.conjunto-perfil .fotoPerfil{
    width:60px;
    height:60px;
    border-radius:50%;
    
}



/*PSEUDO ELEMENTO*/

.logoYoutube::before{
    content:"";
    display:inline-block;
    
    background-image:url(../assets/youtubeLogo.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width:40px;
    height:40px;
    border-radius: 18px;
}

.campoPesquisa::placeholder{
    font-size:1.1rem;
    font-weight:450;
    color:black;

}


/*PSEUDO CLASSE*/

